html {
    scroll-behavior: smooth;
}

::selection {
    background: #e31e24; /* WebKit/Blink Browsers */
    color: #fff;
}
::-moz-selection {
    background: #e31e24; /* Gecko Browsers */
    color: #fff;
}

.post_item__img {
    width: 30%;
}

.align-middle {
    width: 30px;
}
